<form action="/api/create" method="POST">
	<h2>Create todo</h2>
	<div class="input-feild">
		<input type="text" name="title">
		<label>Task title</label>
	</div>
	<button type="submit" class="btn">Create</button>
</form>